body {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
}

.projects-heading {
  border-bottom: 4px solid #3db0f7;
}

.btn-transparent,
.btn-transparent:hover,
.btn-transparent:focus {
  background: transparent;
}

@media only screen and (max-width: 500px) {
  body {
    padding: 1rem;
  }
  main {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
