@import url('https://use.typekit.net/pzd7gzg.css');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  background: #f6f6f6;
  padding: 2rem;
  border-radius: 32px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
}

.btn-transparent,
.btn-transparent:hover,
.btn-transparent:focus {
  background: transparent;
}

@media only screen and (max-width: 500px) {
  body {
    padding: 1rem;
  }
  main {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
